@import './theme.scss';
:not(not) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif';
}

.common-btn {
  height: 80rpx;
  padding: 10rpx;
  background-image: url('https://source.aring.cc/assets/project/sokoban/imgs/common/common-btn.png');
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 48rpx;
  img {
    height: 50rpx;
    margin-right: 8rpx;
  }
}

.common-bottom-form {
  border-top: 4rpx #e8eaed solid;
  padding-top: 40rpx;
  display: flex;
  justify-content: space-around;
  .common-bottom-form-item {
    display: flex;
    flex-flow: column nowrap;
    i {
      margin-bottom: 4rpx;
      font-size: 50rpx;
    }
    span {
      font-size: 32rpx;
    }
  }
}

.u-tabs__wrapper__nav__item {
  font-weight: bold;
}

.u-icon__icon {
  span {
    font-family: uicon-iconfont !important;
  }
}
