.game-container .game-table {
  background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/floor.png');
}

page {
  .floor {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/floor.png');
  }
  .spikeweed {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/spikeweed.png');
  }
  .wall {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/wall.png');
  }
  .end {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/end.png');
  }
  .fire {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/fire.png');
  }
  .toadstool {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/toadstool.png');
  }
  .spring {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/spring.png');
  }
  .portal-entry {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/portal-entry.png');
  }
  .portal-exit {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/portal-exit.png');
  }
  .beer {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/beer.png');
  }
  .nectar {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/nectar.png');
  }
  .player {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/player.png');
  }
  .box {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/box.png');
  }
  .ice-box {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/ice-box.png');
  }
  .box.end {
    background-image: url('http://81.68.189.158:88/project/sokoban-static/img/game-content/forest/end-box.png');
  }
}
