.game-container {
  text-align: center;
  margin: 0 auto;
  overflow: auto;
  max-height: 365px;
  max-width: 365px;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  .game-table {
    background-size: 30px 30px;
    background-repeat: repeat;
    background-image: url('~@/static/img/game-content/forest/floor.png');
    display: inline-block;
    text-align: center;
    border: 2px #e8eaeda6 solid;
    .game-row {
      display: flex;
      .game-cell {
        height: 60rpx;
        width: 60rpx;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }
}
