.game-container {
  text-align: center;
  margin: 0 auto;
  overflow: auto;
  max-height: 734rpx;
  max-width: 734rpx;
  white-space: nowrap;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  .game-table {
    background-size: 60rpx 60rpx;
    background-repeat: repeat;
    background-image: url('~@/static/img/game-content/forest/floor.png');
    display: inline-block;
    text-align: center;
    border: 4rpx #e8eaeda6 solid;
    .game-row {
      display: flex;
      .game-cell {
        height: 60rpx;
        width: 60rpx;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }
}

.move-left {
  position: relative;
  animation: left 0.2s linear;
}

@keyframes left {
  0% {
    left: 60rpx;
  }
  100% {
    left: 0;
  }
}

.move-right {
  position: relative;
  animation: right 0.2s linear;
}

@keyframes right {
  0% {
    left: -60rpx;
  }
  100% {
    left: 0;
  }
}

.move-up {
  position: relative;
  animation: up 0.2s linear;
}

@keyframes up {
  0% {
    top: 60rpx;
  }
  100% {
    top: 0;
  }
}

.move-down {
  position: relative;
  animation: down 0.2s linear;
}

@keyframes down {
  0% {
    top: -60rpx;
  }
  100% {
    top: 0;
  }
}
