.choosebox-title {
  width: 100%;
  margin-top: 30px;
  font-size: 20px;
  animation: change 5s infinite;
  position: relative;
  top: -20vh;
}
.out-title {
  font-size: 20px;
  animation: change 5s infinite;
  font-weight: 900;
  margin: 0 auto 50px;
  text-align: center;
}
@keyframes change {
  0% {
    color: #FF3300;
  }
  25% {
    color: #FFCC33;
  }
  50% {
    color: #FFFF66;
  }
  75% {
    color: #33CCFF;
  }
  100% {
    color: #FF3300;
  }
}
