.choosebox-title{
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    animation: change 5s infinite;
    position: relative;
    top: -20vh;
}
.out-title{
    font-size: 20px;
    animation: change 5s infinite;
    margin: 0 auto 50px;
    text-align: center;
}
@keyframes change {
  0% {
    color: #c89c4b;
  }
  25% {
    color: #C779D0;
  }
  50%{
    color: rgb(194, 66, 66);
  }
  75%{
      color: rgb(110, 143, 18);
  }
  100%{
      color: rgb(48, 190, 60);
  }
}