@import url('./normalize.css');
@import url('./theme.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

#app {
  height: 100vh;
}

[v-cloak] {
  display: none;
}

.page-title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: var(--deepMainColor);
  margin-bottom: 20px;
}

.van-popover--dark .van-popover__content {
  padding: 2px 8px;
}