@import url('./normalize.css');



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

[v-cloak] {
  display: none;
}