.theme-abstract {
  --mainColor: #ccc;
  --deepMainColor: #333;
  --lightMainColor: #cccccc80;
}

.theme-abstract .game-container .game-table {
  background-image: url('~@/assets/img/theme/abstract/floor.png');
}

.theme-abstract .floor {
  background-image: url('~@/assets/img/theme/abstract/floor.png');
}

.theme-abstract .spikeweed {
  background-image: url('~@/assets/img/theme/abstract/spikeweed.png');
}

.theme-abstract .wall {
  background-image: url('~@/assets/img/theme/abstract/wall.png');
}

.theme-abstract .end {
  background-image: url('~@/assets/img/theme/abstract/end.png');
}

.theme-abstract .fire {
  background-image: url('~@/assets/img/theme/abstract/fire.png');
}

.theme-abstract .player {
  background-image: url('~@/assets/img/theme/abstract/player.png');
}

.theme-abstract .box {
  background-image: url('~@/assets/img/theme/abstract/box.png');
}

.theme-abstract .ice-box {
  background-image: url('~@/assets/img/theme/abstract/ice-box.png');
}

.theme-abstract .box.end {
  background-image: url('~@/assets/img/theme/abstract/end-box.png');
}

.theme-forest {
  --mainColor: #95d52f;
  --deepMainColor: #339933;
  --lightMainColor: #95d52f80;
}

.theme-forest .game-container .game-table {
  background-image: url('~@/assets/img/theme/forest/floor.png');
}

.theme-forest .floor {
  background-image: url('~@/assets/img/theme/forest/floor.png');
}

.theme-forest .spikeweed {
  background-image: url('~@/assets/img/theme/forest/spikeweed.png');
}

.theme-forest .wall {
  background-image: url('~@/assets/img/theme/forest/wall.png');
}

.theme-forest .end {
  background-image: url('~@/assets/img/theme/forest/end.png');
}

.theme-forest .fire {
  background-image: url('~@/assets/img/theme/forest/fire.png');
}

.theme-forest .toadstool {
  background-image: url('~@/assets/img/theme/forest/toadstool.png');
}

.theme-forest .spring {
  background-image: url('~@/assets/img/theme/forest/spring.png');
}

.theme-forest .single-portal-entry {
  background-image: url('~@/assets/img/theme/forest/single-portal-entry.png');
}

.theme-forest .single-portal-exit {
  background-image: url('~@/assets/img/theme/forest/single-portal-exit.png');
}

.theme-forest .beer {
  background-image: url('~@/assets/img/theme/forest/beer.png');
}

.theme-forest .nectar {
  background-image: url('~@/assets/img/theme/forest/nectar.png');
}

.theme-forest .player {
  background-image: url('~@/assets/img/theme/forest/player.png');
}

.theme-forest .box {
  background-image: url('~@/assets/img/theme/forest/box.png');
}

.theme-forest .ice-box {
  background-image: url('~@/assets/img/theme/forest/ice-box.png');
}

.theme-forest .box.end {
  background-image: url('~@/assets/img/theme/forest/end-box.png');
}

.theme-forest .box.spikeweed {
  animation: box-spikeweed 6s infinite linear;
}

.theme-forest .box.toadstool {
  animation: box-toadstool 6s infinite linear;
}

.theme-forest .box.beer {
  animation: box-beer 6s infinite linear;
}

.theme-forest .box.nectar {
  animation: box-beer 6s infinite linear;
}


@keyframes box-spikeweed {
  0% {
    opacity: 0;
  }
  10%, 
  40% {
    opacity: 1;
    background-image: url('~@/assets/img/theme/forest/box.png');
  }
  50% {
    opacity: 0.5;
  }
  60%,
  90% {
    opacity: 1;
    background-image: url('~@/assets/img/theme/forest/spikeweed.png');
  }
  100% {
    opacity: 0;
    background-image: unset;
  }
}

@keyframes box-toadstool {
  0% {
    opacity: 0;
  }
  10%, 
  40% {
    opacity: 1;
    background-image: url('~@/assets/img/theme/forest/box.png');
  }
  50% {
    opacity: 0.5;
  }
  60%,
  90% {
    opacity: 1;
    background-image: url('~@/assets/img/theme/forest/toadstool.png');
  }
  100% {
    opacity: 0;
    background-image: unset;
  }
}

@keyframes box-beer {
  0% {
    opacity: 0;
  }
  10%, 
  40% {
    opacity: 1;
    background-image: url('~@/assets/img/theme/forest/box.png');
  }
  50% {
    opacity: 0.5;
  }
  60%,
  90% {
    opacity: 1;
    background-image: url('~@/assets/img/theme/forest/beer.png');
  }
  100% {
    opacity: 0;
    background-image: unset;
  }
}

@keyframes box-nectar {
  0% {
    opacity: 0;
  }
  10%, 
  40% {
    opacity: 1;
    background-image: url('~@/assets/img/theme/forest/box.png');
  }
  50% {
    opacity: 0.5;
  }
  60%,
  90% {
    opacity: 1;
    background-image: url('~@/assets/img/theme/forest/nectar.png');
  }
  100% {
    opacity: 0;
    background-image: unset;
  }
}